{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <title>{{ page_title }}</title>
            </head>
            <body>
            <h2> {{ page_title }} </h2>
            <h3>Подключение Еbay-аккаунта упростит работу с Вашими поисковыми запросами и автоматизировать ставки</h3>

            <div>
                <a href="{{ get_token_url }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Подтвердить</a>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}