{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
    <form class="form-inline" method="GET">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Поиск" name="q" 
            value="{{ request.args.get('q', '') }}">
        
            <select class="custom-select" name="categoryid">
                <option value=""
                {% if not request.args.get('categoryid', '') %} selected {% endif %}>Выберите категорию</option>
                {% for category in categories %}
                    <option
                    {% if request.args.get('categoryid', '')== category.categoryid|string() %} selected {% endif %}
                    value="{{category.categoryid}}">{{ category.categoryname }}</option>

                {% endfor %}
            </select>
            <button type="submit" class="btn btn-secondary btn-lg">Поиск</button>
        </div>
    </form>
    </div>
    <div class="col-2"></div>
</div>

{% if request.args.get('q') %}
    <div class="row">
        <div class="col-12">
        <h2>{{ title }}</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
            {% for item in results %}
            <div class="card mb-3" >
                <div class="row no-gutters">
                    <div class="col-sm-2">
                        <div class="text-center">
                            <img src="{{ item.gallery_url }}" class="img-thumbnail" alt="{{ item.title }}">
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ item.view_item_url }}" target="_blank">{{ item.title }}</a></h5>
                            <p class="card-text">
                                Текущая стоимость: {{ item.item_current_price }} USD
                            </p>
                            <div class="card-text">
                                Состояние: {{ item.condition_display_name }}
                            </div>
                            <div class="card-text mt-1" >
                                Количество ставок: {{ item.bid_count }}
                            </div>
                            <p class="card-text">
                                <small class="text-muted">До конца аукциона: {{ item.time_left }}</small>
                            </p>
                            {% for wish in watch_list if wish.item_id == item.item_id %}
                                <a href="{{ url_for('search.remove_from', itemid=item.item_id) }}" target="_blank" class="btn btn-outline-danger" role="button">удалить из "Избранного"</a>
                            {% else %}
                                <a href="{{ url_for('search.add_to', itemid=item.item_id) }}" target="_blank" class="btn btn-outline-warning" role="button">добавить в "Избранное"</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% include 'ebay_search/pagination.html' %}
    </div> 
{% endif %}


{% endblock %}

    <!-- <a href="{{ url_for('.search', itemid=item.item_id, q=request.args.get('q', ''), categoryid=request.args.get('categoryid', '')) }}" target="_blank">добавить в избранное</a> -->

                <!-- <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li> -->